@media all {
	/* JQuery UI */
	.ui-widget-content {
		background:#FFFFFF url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
		color:#304ea8;
	}

	.ui-widget-content a {
		color:#0045FF;
	}
	.ui-widget-content a:hover {
		color:#008CFF;
	}
	.ui-widget-content a:visited {
		color:#13458B;
	}

	.ui-widget-header {
		background:#C6E2FF;
		color:#404040;
	}
	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
		background:#C6E2FF
	}

	/* TaskListApp */

	body {
		font-family:Arial, Georgia, "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
		font-size:16px;
		background-color:#FFFFFF;
	}

	.stdform {
		color:#304ea8;
		background-color:#C6E2FF;
		padding:5px;
		margin:5px;
		border-color:#0063B4;
		border-width:1px;
		border-style:solid;
		display:inline-block;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		border-radius:7px;
	}

	.stdform button, .stdform input, .stdform select {
		color:#304ea8;
		background-color:#a0cfff;
		border-color:#6b96c2;
		margin:2px;
	}
	.stdInput {
		width:200px;
	}

	input[type="checkbox"] {
		display:none;
	}
	input[type="checkbox"] + label span {
		display:inline-block;
		width:24px;
		height:24px;
		margin:-5px 2px 0 0;
		vertical-align:middle;
		background:url(../img/unchecked-box.png) left top no-repeat;
		cursor:pointer; 
	}
	input[type="checkbox"]:checked + label span {
		background:url(../img/checked-box.png) left top no-repeat;
	}

	.PrefSectionTitle {
		font-weight:bold;
		text-align:center;
		color:#404040;
	}
	.NotebooksPrefs {
		display:table;
		background-color:#dbecff;
		padding:5px;
		margin:5px;
		border-color:#0063B4;
		border-width:1px;
		border-style:solid;
		display:inline-block;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
	}

	.HiddenError {
		display:none;
	}

	.ErrorMsg, .OkMsg, .TechMsg {
		font-weight:bold;
		text-align:center;
	}

	.ErrorMsg {
		color:red;
	}

	.TechMsg {
		color:brown;
	}

	.OkMsg {
		color:green;
	}

	.Errorbar {
		font-size:200%;
		color:red;
	}

	.menu {
		color:#304ea8;
		text-align:center;
		vertical-align:middle;
		margin-bottom:5px;
	}

	.menu form div {
		display:inline-block;
	}

	.menu form div button, .menu form div select, .menu form div input {
		color:#304ea8;
		background-color:#a0cfff;
		border-color:#6b96c2;
	}

	.SearchBar, .DisplayControl, .GroupByControl, .OrderByControl, .TagFilterControl {
		max-width:20%;
		background-color:#C6E2FF;
		padding:3px;
		margin-right:1px;
		margin-left:1px;
		border-color:#0063B4;
		border-width:1px;
		border-style:solid;
		display:inline-block;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		border-radius:7px;
	}

	.TagFilterControl {
		max-width:100%;
	}

	.DisplayControl select, .GroupByControl select, .OrderByControl select, .TagFilterControl select {
		max-width:100%;
	}

	.SearchButton, .ClearButton, .ClearButtonOrderBy {
		position:relative;
		top:5px;
	}

	.SearchBar input {
		width:calc(100% - 30px);
	}

	a {
		color:#0045FF;
	}

	a:hover {
		color:#008CFF;
	}

	a:visited {
		color:#13458B;
	}

	.searchhighlight {
		color:blue;
		font-weight:bold;
	}

	.taskList {
		width: 100%;
	}

	.header {
		display:table;
		width: 100%;
		border-width:1px;
		border-style:solid;
		border-right-style:none;
		margin-bottom:5px;
		background-color:#C0D0F0;
		color:#304ea8;

		table-layout:fixed;
		border-collapse: separate;
		position:relative;
	}

	.headerInt {
		display: table-row;
		text-align:center;
	}

	.headerInt .status, .headerInt .priority, .headerInt .duration, .headerInt .duedates, .headerInt .content, .headerInt .tags, .headerInt .parentPage {
		border-right-style:solid;
		border-width:1px;
		text-align:center;
		vertical-align:middle;
	}

	.taskgroup {
		background-color: #ddeeff;
		border-color:#c4d3e2;
		border-style:solid;
		border-width:1px;
		padding:5px;
		padding-bottom:2px;
		margin-bottom: 5px;

		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;

	}

	.taskgroup .title {
		color:#4a5e72;
		text-align:left;
		display: inline-block;
		font-size: 125%;
		width:calc(100% - 36px);
		height: 20px;
	}

	.tgStatusForm {
		float:left;
		position:relative;
		top:-5px;
		display:inline-block;
		width:36px;
		height:29px;
	}

	.addtaskgroupform > select, .addtaskgroupform > button, .addtaskgroupform > input {
		background-color: #ddeeff;
		border-color:#b5d6e9;
		color:#4a5e72;
	}
	
	.addtaskgroupform .AddTaskGroupSelect {
		width:80px;
		margin-bottom:5px;
		vertical-align:top;
	}

	.addtaskgroupform .AddTaskGroupText {
		width:calc(100% - 150px);
		margin-bottom:5px;
		max-width:calc(100% - 150px);
		height:15px;
		vertical-align:top;
		background-color: #ddeeff;
	}

	.task{
		width: 100%;
		display: table;
		table-layout:fixed;
		border-collapse: separate;
		position:relative;
		background-color: #C6E2FF;

		border-style: solid;
		border-color: #0063B4;
		border-width: 1px;
		margin-bottom:5px;

		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		border-radius:7px;

		overflow:hidden;
	}

	.taskInt, .taskDisabled, .taskStarted {
		display: table-row;
	}

	.taskInt {
	}

	.taskDisabled {
		background-color:#9fb5cc;
		color:#7382b1;
	}

	.taskStarted {
		background-color: #4Ea1FF;
	}

	.taskAdding {
		background-color: #c6eaff;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		border-radius:7px;
		display:table;
		width:100%;
	}

	.taskDisabled + .Comment, .taskDisabled + .Comment .CommentInt {
		background-color:#a9b6c5;
	}

	.taskInt + .Comment {
		background-color:#adc4dd;
	}

	.task div:first-child div:first-child { -webkit-border-top-left-radius:7px; -moz-border-radius-topleft:7px; border-top-left-radius: 7px; }
	.task div:first-child div:last-child { -webkit-border-top-right-radius:7px; -moz-border-radius-topright:7px; border-top-right-radius: 7px; }
	.task div:last-child div:first-child { -webkit-border-bottom-left-radius:7px; -moz-border-radius-bottomleft:7px; border-bottom-left-radius: 7px; }
	.task div:last-child div:last-child { -webkit-border-bottom-right-radius:7px; -moz-border-radius-bottomright:7px; border-bottom-right-radius: 7px; }

	.subtask {
		width:calc(100% - 30px);
		margin-right:0;
		position:relative;
		left:30px;
		display:inline-block;
	}

	.status {
		width: 30px;
		display: table-cell;
		text-align: center;
	}

	.priority {
		width: 30px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.priorityHIGHESTCOLOR { background-color:#551A8B; }
	.priorityLOWESTCOLOR { background-color:#DDA0DD; }

	.duration {
		display: table-cell;
		width:50px;
		text-align:center;
	}

	.tgduration {
		font-size:90%;
	}

	.duedates, .duedatesOk, .duedatesUrgent, .duedatesImportant {
		width: 100px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.dateOk, .dateUrgent, .dateImportant {
		display: inline-block;
	}

	.dateOk, .duedatesOk {
	}

	.dateImportant, .duedatesImportant {
		background-color: #DDA0DD;
	}

	.dateUrgent, .duedatesUrgent {
		background-color: #A020F0;
	}

	.taskDisabled .duedatesImportant, .taskDisabled .dateImportant {
		background-color: #b999b9;
	}

	.taskDisabled .duedatesUrgent, .taskDisabled .dateUrgent {
		background-color: #925cb4;
	}

	.dateImportant {
		background-color: #DDA0DD;
		font-weight:bold;
	}

	.dateUrgent {
		background-color: #A020F0;
		font-size:100%;
		font-weight:bold;
	}

	.cyclicDateSpan {
		font-size: 10px;
	}

	.content {
		width: calc(80% - (160px + 250px + 50px));
		display: table-cell;
		padding-left:5px;
	}

	.tags {
		width: 100px;
		display: table-cell;
		vertical-align: middle;
		margin-bottom:10px;
	}

	.tagform {
		display: inline-block;
	}

	.TagButton {
		display: inline-block;
		color:#304ea8;
		background-color:#a0cfff;
		border-color:#6b96c2;
	}

	.StatusButton {
		position:relative;
		left:-3px;
		background-color: Transparent;
		background-repeat:no-repeat;
		border: none;
		cursor:pointer;
		overflow: hidden;
		outline:none;
	}

	.StartButton {
		display: inline-block;
		color:black;
		background-color:#4Ea1FF;
		border: none;
		width:100%;
	}

	.CancelButton {
		position:relative;
		background-color: Transparent;
		background-repeat:no-repeat;
		border: none;
		cursor:pointer;
		overflow: hidden;
		outline:none;
		width:25px;
		display:none;
	}

	.status:hover form .CancelButton {
		display: inline-block;
	}

	.CancelButton img {
		width:100%;
	}

	.taskStarted .StartButton {
		background-color: #C6E2FF;
	}

	.tags form button {
		width:100px;
	}

	.parentPage {
		width: 150px;
		text-align:left;
		display: table-cell;
		padding-right:5px;
		padding-left:5px;
		word-wrap:break-word;
		vertical-align:middle;
	}

	.CommAddDiv {
		width:100%;
		margin:0;
		display:table;
	}

	.commform {
		display:table-row;
		width:100%;
		margin:0px;
	}

	.commform input, .commform button {
		position:relative;
		color:black;
		top:-5px;
		background-color:#a0b5cc;
		border-color:#666666;
		outline:none;
		display:table-cell;
	}

	.commform input {
		position:relative;
		left:-5px;
		margin-left:5px;
		width:calc(100% - 60px);
		height:15px;
	}

	.commform button {
		margin-left:0px;
		vertical-align:top;
		width:50px;
	}
	
	.task:hover div div .TaskButtons {
		display:inline-block;
	}

	.taskgroup:hover div .TaskGroupButtons {
		display:inline-block;
	}

	.TaskButtons, .TaskGroupButtons {
		float:right;
		display:none;
		margin:0;
		height:20px;
	}

	.TaskButtons button, .CloseButton, .CalendarButton, .menu form div .SearchButton, .CloseButtonTg, .TaskGroupButtons button, .MenuTaskButtons button, .ClearButton, .ClearButtonOrderBy, .ImgButton, .TagCloudButton {
		width: 20px;
		height: 20px;
		background-color: Transparent;
		background-repeat:no-repeat;
		border: none;
		cursor:pointer;
		overflow: hidden;
		outline:none;
		margin:0px;
	}

	.MenuTaskButtons button {
		width: 30px;
		height: 30px;
	}

	.TaskButtons button img, .CloseButton img, .CalendarButton img, .SearchButton img, .CloseButtonTg img, .TaskGroupButtons button img, .ClearButton img, .ClearButtonOrderBy img, .ImgButton img, .TagCloudButton img {
		position:relative;
		top:-1px;
		left:-6px;
		width: 20px;
		height: 20px;
	}
	
	.MenuTaskButtons button img {
		position:relative;
		top:-1px;
		left:-6px;
		width: 30px;
		height: 30px;
	}

	.notePgSelect {
		text-align:center;
		margin:0;
	}

	.addtaskform > .notePgSelect {
		color:black;
	}

	.addtaskgroupform > .notePgSelect {
		color:#4a5e72;
	}

	.notePgSelect select {
		color:#304ea8;
		background-color:#a0cfff;
		border-color:#6b96c2;
		font-family:"courier";
	}

	.CloseButton, .CloseButtonTg {
		margin:5px;
	}

	.AddTaskText {
		margin:5px;
		width:calc(90% - 90px);
		max-width:calc(90% - 90px);
		background-color:#b5d6e9;
		display:cell;
		height:15px;

		vertical-align:top;
	}

	.AddTaskBtn, .AddTaskGroupBtn {
		margin:5px;
		display:cell;
		width:calc(10% - 30px);
		vertical-align:top;
		overflow:hidden;

		background-color:#b5d6e9;
		border-color:#666666;
	}

	.addtaskform {
		display:table-row;
		vertical-align:middle;

		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		border-radius:7px;
	}

	.Comment {
		display:table-row;
		position:relative;
		border:1px double #000;
		border-color:#000000;
		border-width:1px;
		background-color:#adc4dd;
	}

	.comheader {
		color:#27408B;
	}

	.CommentInt {
		background-color:#adc4dd;
		display:table-cell;
		padding-left:5px;
	}

	.CommentState, .CommentPrio, .CommentDuration, .CommentDue, .CommentTags, .CommentPage{
		display:table-cell;
	}

	.CategoryHeader {
		border-style: solid;
		border-color: #c4d3e2;
		border-width: 1px;
		margin-bottom:5px;
		font-size:150%;
		text-align:center;
		font-weight:bold;
		-webkit-border-radius:7px; -moz-border-radius:7px; border-radius: 7px;
		background-color:#ddeeff;
	}
}

@media all and (max-width:900px) {
	.headerInt .tags, .headerInt .duration {
		display:none;
	}
	.taskInt .tags, .taskInt .duration {
		display:none;
	}
	.taskStarted .tags, .taskStarted .duration {
		display:none;
	}
	.taskDisabled .tags, .taskDisabled .duration {
		display:none;
	}
	.taskAdding .tags, .taskAdding .duration {
		display:none;
	}
	.Comment .CommentDuration, .Comment .CommentTags {
		display:none;
	}
	.TagFilterControl {
		max-width:100%;
	}
	.cyclicDateSpan {
		font-size: 7px;
	}
	.AddComText, .commform button {
		margin-top:5px;
	}
	/*
	.CommentFormEdit form input:focus {
		width:150px;
		height:15px;
	}*/
}

@media all and (max-device-width: 900px) {
	body {
		font-size:12px;
	}
	.duedates, .duedatesOk, .duedatesUrgent, .duedatesImportant {
		width:15%;
	}
	.duedatesOk, .duedatesUrgent, .duedatesImportant {
		font-size:75%;
	}
	.parentPage {
		width:20%;
	}
	.status, .priority {
		width:7%;
	}
	.StatusButton {
		left:-7px;
	}
	.content {
		width:50%;
	}

	.status:hover form .CancelButton {
		display: none;
	}
	.CommentAbbr {
		font-size:50%;
		margin:0;
		height:7px;
	}
	.CommentForm {
		padding:2px;
	}
}

